.userbanner{
    background-image: url("C:\Users\2375285\Downloads\1000226042.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}

.cover{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
}